---

---
<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" is:inline></script>

    <!-- Slider main container -->
<div class="swiper w-full h-max ">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" data-swiper-autoplay="2000">
        <div class="swiper-slide" data-swiper-autoplay="2000"><img src="https://placehold.co/600x400" alt=""></div>
      </div>

           <div class="swiper-slide" data-swiper-autoplay="2000">
          <img src="https://placehold.co/600x400?text=Hello+World" class="bg-cover" alt="nino yamata">        
          </div>

      <div class="swiper-slide" data-swiper-autoplay="2000"><img src="https://placehold.co/600x400" alt=""></div>
     

    </div>
    
  
    
 
    
  </div>
<style>
  .watchSlidesProgress{
    width: 10px;
    height: 10px;
  }
</style>




  <script is:inline>
    const swiper = new Swiper('.swiper', {
  // Optional parameters
    direction: 'horizontal',
    loop: true,
    SlidesProgress:false,
    autoplay: {
    delay: 3000,
    disableOnInteraction: false,
    
  },

  // If we need pagination
 

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
  </script>

</html>



<script>
 
function checkWidth() {
    const slide = document.querySelector('.swiper-slide');
    if (window.innerWidth <= 570) {
        if (slide) {
            slide.remove(); // Elimina el elemento del DOM
        }
    }
}

// Ejecuta la función al cargar la página
checkWidth();

// Agrega un listener para el evento de redimensionamiento
window.addEventListener('resize', checkWidth);
</script>








<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" is:inline>
  