
<body>
  
    
  <div class="max-w-md mx-auto rounded-md overflow-hidden shadow-md hover:shadow-lg">
    <div class="relative">
        <img class="w-full max-[572px]:scale-125 " src="images/products/bbchi.jpg" alt="Product Image">
        <div class="absolute top-0 right-0 bg-red-500 text-white px-2 py-1 m-2 rounded-md text-sm font-medium  ">
          <span class="max-[572px]:hidden">SALE</span>
          <span class="max-[572px]:visible min-[572px]:hidden">%</span>
        </div>
      </div>
    <div class="p-4">
        <h3 class="text-lg font-medium mb-2 text-white pt-2">Product Title</h3>
        <p class="text-gray-600 text-sm mb-4 max-[572px]:hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ante
            vel eros fermentum faucibus sit amet euismod lorem.</p>
        <div class="max-[572px]:gap-4">
            <span class="font-bold text-lg ">$19.99</span>
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded  max-[572px]:py-1 max-[572px]:px-2 ">
               Buy Now
              </button>
        </div>
    </div>
  </div>


</body>
</html>