---
// src/pages/index.astro

import { ProductList } from '@/components';
<<<<<<< HEAD
import Carusel from '@/components/Frontend/Carusel.astro';
import Temporadas from '@/components/Frontend/Temporadas.astro';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';
=======
import Upauto from '@/components/Frontend/Upauto.astro';
import Topbar from '@/components/Frontend/Topbar.astro';
import New from '@/components/Frontend/New.astro';
import Footer from '@/components/Frontend/Footer.astro';



import Navbar from '@/components/shared/Navbar.astro';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';
import Carusel from '@/components/Frontend/Carusel.astro';

>>>>>>> 284a5e682a8299919aa1a02843a926017fc24245
const searchParams= Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage.safe({
  page: pageParam,
  limit:6,
});

if (error) {
  return Astro.redirect('/');
}

const {products, totalPages} = data;

if(data.products.length == 0){
  return Astro.redirect('/');
}
---


<MainLayout>
<<<<<<< HEAD
  <Carusel/>
  <main class="container m-auto max-w-4xl px-5 mt-8">
  <h1 class="text-3xl text-[#231F20] flex justify-center">Nuestra Colección</h1>
  <Temporadas/>
  <h1 class="text-3xl text-[#231F20] pt-12 mb-5">Productos destacados</h1>
  <article class="pb-16">

    <ProductList  products={products} client:idle  />
  </article>
</main>
</MainLayout>
=======
  <Topbar/>
  <Carusel/>  
  <Footer/>
</MainLayout>
>>>>>>> 284a5e682a8299919aa1a02843a926017fc24245
